<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <ul class="headerList">
            <li class="headerListItem"><a class="headerListLink" href="/">Home</a></li>
            <li class="headerListItem"><a class="headerListLink" href="/edit">Edit Town</a></li>
            <li class="headerListItem"><a class="headerListLink" href="/editShopInventory">Edit Shop Inventories</a></li>
        </ul>

        <h1>CS340 Town Simulator</h1>
        <h2>Edit Runswick</h2>
        <p>Here you can edit all the data that will shop up on town simulator pages. You can easily add new trade goods, npcs, quests, and shops. At any time you can assign quests to npcs, or trade goods to shops. If you need to make changes you can delete trade goods from Runswick entirely, just from a specific shop, or edit the good itself.</p>   
        <h2>Runswick Shops</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Shopkeep</th>
                <th>Description</th>
            </thead>

            <tbody>
                {% for shop in shops %}
                <tr>
                        <td> {{ shop.0 }} </td>
                        <td> {{ shop.1 }} </td>
                        <td> {{ shop.2 }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

        <h3>Add a Shop to Runswick</h3>
        <form>
            <label class="shopForm" id="shopName">Shop Name:</label><br>
            <input class="shopForm" type="text" id="shopName" value="name"><br>
            <label class="shopForm" id="shopKeep">Choose a shop keeper:</label><br>
            <select class="shopForm" id="shopNpc">
                <option value="jacob_the_tanner">Jacob the tanner</option>
                <option value="nezeim_bhammein">Nezeim Bhammein</option>
                <option value="althea_the_sorceror">Althea the sorceror</option>
            </select><br>
            <label class="shopForm" id="shopDesc">Description of shop:</label><br>
            <input class="shopForm" type="text" value="Describe the shop"><br>
            <input class="shopForm" type="submit" value="Submit">
        </form>
        

        <h2>Runswick Trade Goods</h2>
        <table>
            <thead>
                <th>Good</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Edit</th>
                <th>Delete from Runswick</th>
            </thead>

            <tbody>
                {% for good in tradeGoods %}
                <tr>
		    <form action="/edit/editTradeGood" method="POST">
                        <td><input type="text" value="{{ good.0 }}" name="good"></td>
                        <td><input type="number" value="{{ good.1 }}" name="price"></td>
                        <td><input type="number" value="{{ good.2 }}" name="quant"></td>
                        <td><input type="text" value="{{ good.3 }}" name="desc"></td>
                        <td><input type="number" value="{{ good.4 }}" name="weight"></td>
			<td style="display:none;"><input type="text" value="{{ good.5 }}" name="id"></td>
			<td><input type=submit value = "Edit"></form></td>
                        <td><form action="/edit/deleteTradeGood/{{good.5}}" method="POST"><input type="submit" value="Delete"></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h3>Add A New Trade Good to Runswick</h3>
        <form action="/edit/createTradeGood" method="POST">
            <label class="invMng">Name:</label> <input type="text" value="Item Name" name="name"> <br>
            <label class="invMng">Price:</label> <input type="number" value="0" name="price"> <br>
            <label class="invMng">Quantity</label> <input type="number" value="0" name="quantity"> <br>
            <label class="invMng">Description</label> <input type="text" value="Item Description" name="description"> <br>
            <label class="invMng">Weight</label> <input type="number" value="0" name="weight"> <br>
            <input type="submit" value="Add">
        </form>

        <h2><a href="/editShopInventory">Edit shop inventories</a></h2>
        <p>Easily add and remove items from specific shop inventories.</p>

        <h2>Runswick NPCs</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Greeting</th>
            </tr>

	    {% for n in npcs %}
	    <tr>
		<td> {{ n.0 }} </td>
		<td> {{ n.1 }} </td>
	    </tr>
	    {% endfor %}
        </table>

        <h3>Add an NPC</h3>
        <form action="/edit/addNPC" method="POST">
            <label for="npcName">NPC Name:</label><br>
            <input type="text" id="npcName" name="npcName"><br>
            <label for="greeting">Greeting:</label><br>
            <input type="text" id="greeting" name="greeting"><br>
            <label for="foundin">Found in:</label><br>
            <!-- <input type="checkbox" id="tavern" name="foundin" value="tavern">
            <label for="tavern">Tavern</label><br>
            <input type="checkbox" id="fishmarket" name="foundin" value="fishmarket">
            <label for="tavern">Fishmarket</label><br>
            <input type="checkbox" id="tannery" name="foundin" value="tannery">
            <label for="tavern">Tannery</label><br>
            <input type="checkbox" id="generalStore" name="foundin" value="generalStore">
            <label for="tavern">General Store</label><br> -->
            <input type="submit" value="Submit">
        </form>
        <h3>Add an NPC to a Shop</h3>
        <form>
            <label for="npc">Add NPC</label>
            <select id="npc">
                <option value="jacob_the_tanner">Jacob the tanner</option>
                <option value="nezeim_bhammein">Nezeim Bhammein</option>
                <option value="althea_the_sorceror">Althea the sorceror</option>
            </select>
            <label for="shop">to Shop</label>
            <select id="shop">
                <option value="tavern">Tavern</option>
                <option value="fishmarket">Fishmarket</option>
                <option value="tannery">Tannery</option>
                <option value="general_store">General Store</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <h2>Runswick Quests</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Reward</th>
                    <th>Given by</th>
                </tr>

                {% for q in quests %}
                <tr>
                    <td> {{ q.1 }} </td>
                    <td> {{ q.2 }} </td>
                    <td> {{ q.3 }} </td>
                    <td> {{ q.4 }} </td>
                </tr>
                {% endfor %}
            </table>

            <h3>Add a Quest</h3>
            <form action="/edit/addQuest" method="post">
                <label for="questName">Quest Name:</label><br>
                <input type="text" id="questName" name="questName"><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description"><br>
                <label for="reward">Reward:</label><br>
                <input type="text" id="reward" name="reward"><br>
                <!-- <label for="givenby">Given by:</label><br>
                <select id="npc">
                    <option value="jacob_the_tanner">Jacob the tanner</option>
                    <option value="nezeim_bhammein">Nezeim Bhammein</option>
                    <option value="althea_the_sorceror">Althea the sorceror</option>
                </select> -->
                <input type="submit" value="Submit">
            </form>
            <h3>Add Quest to NPC</h3>
            <form action="/edit/addQuestToNpc" method="POST">
                <label for="shop">Add Quest</label>
                <select name="questToNpc" id="shop">
		{% for q in quests %}
                    <option value="{{ q.0 }}">{{ q.1 }}</option>
                {% endfor %}
                </select>
                <label for="npc">to NPC</label>
                <select name="npcToQuest" id="npc">
		{% for n in npcs %}
                    <option value="{{ n.2 }}">{{ n.0 }}</option>
            	{% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
    </body>
</html>

