<!DOCTYPE html>
<html>

    <title>NPC View</title>
    
    <h1 align="center">Jacob the tanner</h1>
    
    <h4>
        <a href="/">Back</a>
    </h4>    

    <div id="boxes">
        <h3 class="mod">Greeting</h3>
        <p id="NPCdialog">Hello there, what can I do for you? I'd really rather see you around my shop why don't you come by sometime?</p>
    
        <h3 class="mod">Quest</h3>
        <h4 class="mod">Hunt local poachers</h4>
        <p id="NPCquest">A band of poachers have been killing the local 
wildlife without regard for the law. Hunt them down and you'll receive a
 mighty reward.</p>
                
        <h3 class="mod">Reward</h3>
        <p class="mod" id="questReward">Anything you can loot from their hideout plus 150 gold pieces.</p>
    </div>
    
    <img src="npc.png" alt="Jacob the Tanner" id="npc">
    
</html>