<!DOCTYPE html>
<html>

    <title>NPC View</title>
    
    {% if npc != Null %}
    <h1 align="center">{{ npc.0 }}</h1>
    
    <h4>
        <a href="/">Back</a>
    </h4>    

    <div id="boxes">
        <h3 class="mod">Greeting</h3>
        <p id="NPCdialog">{{ npc.1 }}</p>
    
        <h3 class="mod">Quest</h3>
        <h4 class="mod">{{ npc.2}}</h4>
        <p id="NPCquest">{{ npc.3 }}</p>
                
        <h3 class="mod">Reward</h3>
        <p class="mod" id="questReward">{{ npc.4 }}</p>
	{% endif %}
    </div>
    
    <!--<img src="npc.png" alt="Jacob the Tanner" id="npc">-->
    
</html>
