<html>
<head>
        <title>Shops</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
        <ul class="headerList">
                <li class="headerListItem"><a class="headerListLink" href="/">Home</a></li>
                <li class="headerListItem"><a class="headerListLink" href="/edit">Edit Town</a></li>
                <li class="headerListItem"><a class="headerListLink" href="/editShopInventory">Edit Shop Inventories</a></li>
        </ul>
	<h1>CS340 Town Simulator</h1>
        <h4>
                <a href="/">Back</a>
        </h4>  

        {% if name != Null %}
        <h2>Runswick - {{ name }}</h2>

        <h3>NPCs</h3>
        <ul>
            <a href="/~pater/npc.html"><li>Jacob the tanner</li></a>
            <a href="/~pater/npc.html"><li>Nezeim Bhammein</li></a>
            <a href="/~pater/npc.html"><li>Althea the sorceror</li></a>
        </ul>

        <h2>Goods:</h2>
        <table>
                <thead>
                        <th>name</th>
                        <th>value</th>
                        <th>quantity</th>
                        <th>description</th>
                        <th>weight</th>
                </thead>

                <tbody>

                        {% for x in inv %}
                        <tr>
                                <td> {{ x.0 }} </td>
                                <td> {{ x.1 }} </td>
                                <td> {{ x.2 }} </td>
                                <td> {{ x.3 }} </td>
                                <td> {{ x.4 }} </td>
                        </tr>
                        {% endfor %}

                </tbody>
        {% endif %}

        </body>
</html>
